#header {
  border-style: none;
  background-image:url(pattern.jpeg);
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  bottom: 50px;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: White;
}

#brush {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}

.price {
  font-family: Helvetica
  font-weight: bold;
  color: blue;
}
